/** {
    font-size: 20px;
}
*/

/*NAVBAR*/


/*HOME*/
.homeClutch .col-5{
    text-align: center;
}

.btnSinscrire {
    width: 230px;
    height: 70px;
    background-color: #FF674D;
    border-radius: 10px;
    padding:5px;
}

.btnSinscrire a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 60px;
}

.btnSinscrire a:hover {
    text-decoration: none;
    color: white;
}

/*FOOTER*/
/*footer {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, #73d752, #4ed371, #27cd8b, #00c69f, #08bead);
}

footer p {
    text-align: center;
    color: white;
    line-height:100px;
    margin-bottom: 0;
}

.liste {
    border: 0.5px solid #FF684E;
    transition: opacity 300ms ease; /* Important pour une animation fluide et la capacité à déclencher des événements "transitionend" 
}
