$primary-color: #73D752;
/*$secondary-color: #57dbb3;*/
$title-color: #707070;
$text-color: #616161;
$background-color: linear-gradient(135deg, #73D752, #08BEAD, #08BEAD);
$orange-gradient: linear-gradient(135deg, #FF674D, #fc8175);
$title-font: 'Segoe UI';
$text-font: 'Poppins', sans-serif;