/**************** GENERAL ***************/

html, body { 
    background-color: #F5F8FA;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
 }

 .container {
    display: grid;
    grid-template-columns : 40% 60%;
    grid-template-rows: 90px 1fr 200px;
    height: 100vh;
}

h1 {
    color: $title-color;
    font-family: $title-font;
    font-weight: 900;
    font-size: 35px;
}

h2 {
    color: $title-color;
    font-family: $title-font;
}

/**************** FIN GENERAL ***************/


/************* HERO **************/

.content-left {
    grid-column : 1 ;
    grid-row-start: 2;
    justify-self: end;
    align-self: center;
}

.content-right {
   grid-column : 2 / 3 ;
   grid-row-start: 2;
   align-self: center;
   padding-left: 60px;

   p {
    font-family: $text-font;
    color: $text-color;
    font-weight: 300;
    line-height: 1em;
    }
}

/************* FIN HERO **************/

/************* FOOTER **************/

.footer {
    grid-column : 1 / 3 ;
    grid-row-start: 3;
 }

 .flex-footer{
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: $title-font;
    font-weight: 900;
    font-size: 50px;
 }

 .clip {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-left: 60px;

    p {
    width: 100%;
    background: $background-color;
    line-height: 1;
    padding: 20px 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    }

    &:before {
        content:'+';
        font-size: 150px;
        font-family: $title-font;
        font-weight: 900;
        color:$primary-color;
        display:block;
        float:left;
        padding-right:2px;
        margin-top:-40px;
    }
}

/************* FIN FOOTER **************/