button {
    cursor:pointer; 
  }

.border-button {
  color: $primary-color;
  width: 210px;
  font-family: $text-font;
  font-size: 17px;
  border: 2px solid $primary-color;
  background-color: white;
  padding: 7px 0px;
  border-radius: 5px;
}

.full-button {
  @extend .border-button;
  
  background: $background-color;
  color: white;
  border: none;
}

.sign-up-button {
    @extend .full-button;

    font-size: 19px;
    border: none;
    background: $orange-gradient;
    padding: 15px 0;
}