/**************** HEADER ***************/

header {
    grid-column : 1 / 3 ;
    grid-row-start: 1;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 100px;
    height: 90px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.nav-left {
    display: flex;
}

.nav-left img {
    width: 60px;
    height: auto;
    padding:5px 20px 0 0;
}

.title {
    color: $primary-color;
    font-family: $title-font;
    font-size: 45px;
    font-weight: 900;
    margin: 0;
    padding-top: 10px;
}

.nav-right ul {
    display: flex;
    align-items: center;
    list-style: none;

    li {
        margin-left: 50px;
    }

    a {
        text-decoration: none;
        color: $primary-color;
        font-family: $text-font;
        font-size: 17px;
    }
}

/*=============================== FIN NAVBAR ================================*/