.modal-bg, .modal-bg-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 0.4s, justify-content 0.4s;
}

.modal-visibility, .modal-visibility-2 {
    visibility: visible;
    opacity: 1;
}

.modal, .modal-2 {
    display: flex;
    background-color: white;
    height: 600px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    padding: 0 20px 0 50px;
}

.modal-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-right: 30px;
}

.modal-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 490px;
    height: 40px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    padding-left: 10px;
  }

::placeholder {
      color: $primary-color;
      font-family: $text-font;
      font-size: 15px;
  }

.modal-close, .modal-close-2 {
    position: absolute;
    top: 20px;
    right: 0px;
    cursor: pointer;
    font-family: $text-font;
    font-size: 20px;
    background-color: #FF674D;
    border-radius: 50%;
    padding: 5px 13px;
    color: white;
}